<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="T8Qc1vJMMRV9jWqjDGg4ZES0PmBWZpgGrmLQKFRpx-0" />
		<title><%- title %></title>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="./icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="./icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="./icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="./icons/site.webmanifest" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		
