<% if (JSON.parse(data)[0].previous !== "null") { %>
<form action="/<%= path %>/previous" method="POST">
	<input
		type="text"
		style="display: none"
		id="previous-url"
		name="previous-url"
	/>

	<button>Previous page</button>
</form>
<% } %> <% if (JSON.parse(data)[0].next !== "null") { %>
<form action="/<%= path %>/next" method="POST">
	<input type="text" style="display: none" id="next-url" name="next-url" />

	<button>Next page</button>
</form>
<% } %>

<script>
	<% if (JSON.parse(data)[0].previous !== "null") { %>
	document.getElementById("previous-url").value =
	        "<%= JSON.parse(data)[0].previous %>";
	<% } %>

	<% if (JSON.parse(data)[0].next !== "null") { %>
	document.getElementById("next-url").value =
	        "<%= JSON.parse(data)[0].next %>";
	<% } %>
</script>
