<div class="search-bar">
	<form action="/events" method="POST">
		<form action="/launches" method="POST">
			<input
				type="text"
				id="query"
				placeholder="Enter the search query: "
				name="query"
				required
			/>

			<a href="/launches"><button type="submit">Search launches</button></a>
		</form>
		<a href="/events"><button type="submit">Search events</button></a>
	</form>
</div>
