<div class="search-bar">
	<form action="/launches" method="POST">
		<input
			type="text"
			id="query"
			placeholder="Enter the search query: "
			name="query"
			required
			style="padding:1.7mm 0mm 0.95mm 0mm;"
		/>

		<button id="launches-btn">Search launches</button>
		<button id="events-btn">Search event</button>
	</form>

	<script>
		const form = document.forms[0];

		document.querySelector("#launches-btn").addEventListener("click", (e) => {
			e.preventDefault();
			form.action = "/launches";
			form.submit();
		});

		document.querySelector("#events-btn").addEventListener("click", (e) => {
			e.preventDefault();
			form.action = "/events";
			form.submit();
		});
	</script>
</div>
