<div class="search-bar">
	<form action="/search" method="POST">
		<input
			type="text"
			id="query"
			placeholder="Enter the search query: "
			name="query"
			required
		/>

		<button>Search</button>
	</form>
</div>
