<div class="search-bar">
	<form action="/launches" method="POST">
		<input
			type="text"
			id="query"
			placeholder="Enter the search query: "
			name="query"
			required
		/>

		<button type="submit">Search launches</button>
	</form>
</div>
