<div class="center">
	<form action="/launches" method="POST">
		<input
			type="text"
			id="query"
			placeholder="Name of the rocket or launch service provider or event: "
			name="query"
			required
			style="padding: 1.7mm 0mm 0.95mm 0mm"
			value="<%= query %>"
		/>

		<div class="btns">
			<button id="upcoming-btn">Search for upcoming launches</button>
			<button id="launches-btn">Search for launches</button>
			<button id="events-btn">Search for events</button>
		</div>
	</form>

	<script>
		const form = document.forms[0];

		document.querySelector("#upcoming-btn").addEventListener("click", (e) => {
			e.preventDefault();
			form.action = "/";
			form.submit();
		});

		document.querySelector("#launches-btn").addEventListener("click", (e) => {
			e.preventDefault();
			form.action = "/launches";
			form.submit();
		});

		document.querySelector("#events-btn").addEventListener("click", (e) => {
			e.preventDefault();
			form.action = "/events";
			form.submit();
		});
	</script>
</div>
