@import url("https://fonts.googleapis.com/css?family=Audiowide");

.rocket {
	
	font-family: "Biome", sans-serif;
}

* {
	font-family: "Audiowide", sans-serif;
    color: white;
}

body {
	background-image: url("/assets/bg.jpg");
}

h1 {
	font-size: 50px;
	color: midnightblue;
	margin: 5% 0% 0% 35%;
}

a {
	text-decoration: none;
}

#query {
	background-color: transparent;
	border: 3px solid white;
	font-size: 15px;
	width: 80%;
	
}

.search-bar {
	text-align: center;
}

.rocket-image {
	float: right;
	margin-right: 20px;
}

#error-image {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

button{
    background-color: transparent;
    border: 3px solid white;
    padding: 2px;
}
