@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
	font-family: "Audiowide", sans-serif;
	color: white;
}

body {
	background-image: url("/assets/bg.jpg");
}

h1 {
	font-size: 50px;
	color: midnightblue;
	margin: 5% 0% 0% 35%;
}

a {
	text-decoration: none;
}

#query {
	background-color: transparent;
	border: 3px solid white;
	font-size: 15px;
	width: 80%;
}

.search-bar {
	text-align: center;
}

#error-image {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

button {
	background-color: transparent;
	border: 3px solid white;
	margin-top: 3px;
	padding: 2px;
	cursor: pointer;
}

.rocket {
	border-top: 1px solid white;
	display: flex;
	height: 500px;
}

.rocket-text {
	flex: 0 0 70%;
}

.rocket-image {
	height: 500px;
	max-width: 100%;
	width: 100%;
}

.rocket-image-wrapper {
	max-height: 500px;
	height: 500px;
	width: 100%;
}

.event {
	border-top: 1px solid white;
	display: flex;
	height: 600px;
}

.event-text {
	flex: 0 0 35%;
}

.event-image {
	height: 600px;
	max-width: 100%;
	width: 100%;
}

.event-image-wrapper {
	height: 600px;
	width: 100%;
}

.center {
	text-align: center;
}

.link:hover {
	text-decoration: underline;
}
