<%- include("../partials/header"); %>

<h1 class="h1">It's SpaceTime!</h1>

<input type="text" id="query" placeholder="Enter the search query: "/>

<%- include("../partials/rockets"); %> <%- include("../partials/footer"); %>
