<%- include("../partials/header"); %>

<a href="/"><h1>It's SpaceTime!</h1></a>

<img
	src="/assets/rocketsNotFound.png"
	height="400px"
	width="auto"
	id="error-image"
/>

<a href="/"><h3 class="center">Go back to the main page</h3></a>

<%- include("../partials/footer"); %>
