<%- include("../partials/header"); %>

<img
	src="/assets/youWentTooDeep.png"
	height="400px"
	width="auto"
	id="error-image"
/>

<a href="/"><h3 id="center">Go back to the main page</h3></a>

<%- include("../partials/footer"); %>
