<%- include("../partials/header"); %>

<div class="header">
	<a href="/"><h1>It's SpaceTime!</h1></a>
</div>

<img
	src="/assets/youWentTooDeep.png"
	height="400px"
	width="auto"
	id="error-image"
/>

<a href="/"><h3 class="link center">Go back to the main page</h3></a>

<%- include("../partials/footer"); %>
